name: $(Build.SourceBranch)_$(Build.BuildId)
variables:
  version: 0.$(Build.BuildId)
trigger:
- master
- refs/tags/v*

resources:
- repo: self
  fetchDepth: 1
pool:
  vmImage: ubuntu-16.04

steps:
- task: DotNetCoreInstaller@0
  inputs:
    packageType: sdk
    version: 2.2.105

- powershell: |
    if ($env:BUILD_SOURCEBRANCH -like "refs/tags/v*") {
      $ver = $env:BUILD_SOURCEBRANCHNAME.TrimStart("v")
      Write-Host "##vso[task.setvariable variable=version]$ver"
    }

- script: dotnet restore
  displayName: Restore

- script: dotnet build src --configuration $(BuildConfiguration)
  displayName: Build

- powershell: |
      dotnet test test /p:CollectCoverage=true /p:CoverletOutputFormat="opencover" /p:CoverletOutput="$(System.DefaultWorkingDirectory)/test/coverage/" /p:ExcludeByAttribute="ObsoleteAttribute" /p:Exclude="[xunit*]*" --logger trx
  displayName: Test
  env:
    DarkSkyApiKey: $(DarkSkyApiKey)

- script: bash <(curl -s https://codecov.io/bash) -f "$(System.DefaultWorkingDirectory)/test/coverage/coverage.opencover.xml" -t "$(CODECOV_TOKEN)"
  displayName: Publish Coverage

- task: PublishTestResults@2
  displayName: Publish Tests
  inputs:
    testRunner: VSTest
    testResultsFiles: '**/*.trx'

- script: dotnet pack --configuration $(BuildConfiguration) --include-symbols /p:PackageVersion=$(version) -p:SymbolPackageFormat=snupkg -o $(Build.ArtifactStagingDirectory) src
  displayName: Pack

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
