name: $(Build.SourceBranch)_$(Build.BuildId)
variables:
  version: 0.$(Build.BuildId)
trigger:
- master
- refs/tags/v*

resources:
- repo: self
  fetchDepth: 1
queue:
  name: Hosted VS2017

steps:
- powershell: |
    if ($env:BUILD_SOURCEBRANCH -like "refs/tags/v*") {
      $ver = $env:BUILD_SOURCEBRANCHNAME.TrimStart("v")
      Write-Host "##vso[task.setvariable variable=version]$ver"
    }

- script: dotnet restore
  displayName: Restore

- script: choco install codecov
  displayName: Choco Install Tools

- script: dotnet build src --configuration $(BuildConfiguration)
  displayName: Build

- powershell: |
    if ($env:BUILD_REASON -eq "PullRequest" -Or $env:BUILD_REASON -eq "Schedule") {
      dotnet test test /p:CollectCoverage=true /p:CoverletOutputFormat="opencover" /p:CoverletOutput="$(System.DefaultWorkingDirectory)/test/coverage/" /p:ExcludeByAttribute="ObsoleteAttribute" --logger trx
    }
    else {
      dotnet test test --filter "FullyQualifiedName~DarkSky.UnitTests" /p:CollectCoverage=true /p:CoverletOutputFormat="opencover" /p:CoverletOutput="$(System.DefaultWorkingDirectory)/test/coverage/" /p:ExcludeByAttribute="ObsoleteAttribute" --logger trx
    }
  displayName: Test
  env:
    DarkSkyApiKey: $(DarkSkyApiKey)

- script: codecov -f "$(System.DefaultWorkingDirectory)/test/coverage/coverage.opencover.xml" -t "$(CODECOV_TOKEN)"
  displayName: Publish Coverage

- task: PublishTestResults@2
  displayName: Publish Tests
  inputs:
    testRunner: VSTest
    testResultsFiles: '**/*.trx'

- script: dotnet pack --configuration $(BuildConfiguration) --include-symbols /p:PackageVersion=$(version) -p:SymbolPackageFormat=snupkg -o $(Build.ArtifactStagingDirectory) src
  displayName: Pack

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
